<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Now Playing Goofspiel on Card.Game</title>
    <!-- Sets viewport width for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Normalize and css template from Skeleton css -->
    <link rel="stylesheet" href="/vendor/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/skeleton.css" type="text/css" />
    <!-- CSS cards -->
    <link rel="stylesheet" href="/vendor/selfthinker-CSS-Playing-Cards-7e0e0f2/cards.css" type="text/css" />
    <!-- Our stylesheet populated from sass .scss file -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Imports fonts: Great Vibes, Vollkorn, Cormorant Infant -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant|Great+Vibes|Vollkorn" rel="stylesheet">
    <!-- grabs our javascript code -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body class="game-board">
    <!-- sets up main container for Skeleton Responsive layout -->
    <div class="container">
      <!-- sets up row system for Skeleton Responsive layout -->
      <div class="row">
        <!-- sets full width area for opponents hand -->
        <div class="twelve columns handbar">
          <!-- css cards styling for opponents hand -->
          <div class="playingCards faceImages centerHand">
            <!-- Sets opponents hand to overlap cards -->
            <ul class="hand">

              <!-- 13 card backs hardcoded for start of game -->
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Game Score Div -->
        <div>
          <div class="two columns play-area">
          <h2>Game Score</h2>
          <h3>Your Score</h3><h3>Opponents Score</h3>
        </div>

        <!-- Skeleton setting play area width and css cards-->
        <div class="eight columns play-area playingCards play-grid">

          <!-- Deck of cards between players -->
          <ul class="deck stock">
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
          </ul>

          <!-- upturned card to bid on blank right now-->
          <div class="card upcard">
            <span class="rank"></span>
            <span class="suit"></span>
          </div>

          <!-- players chosen card for bidding -->
          <div class="card player-downcard">
            <span class="rank"></span>
            <span class="suit"></span>
          </div>

          <!-- opponents chosen card for bidding -->
          <div class="card opponent-downcard">
            <span class="rank"></span>
            <span class="suit"></span>
          </div>
        </div>
        <!-- turn status -->
        <div class="two columns play-area">
          <h2>Turn status</h2>
        </div>
      </div>
      <!-- player card bar 100% width -->
      <div class="twelve columns handbar">
        <!-- css cards set face up -->
        <div class="playingCards faceImages centerHand">

          <!-- css cards set to stack in hand -->
          <ul class="hand" id="player-hand">
            <!-- starting hand place holders -->
            <li>
              <div class="card rank-a spades" id="handCardOne">
                <span class="rank">A</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-2 spades">
                <span class="rank">2</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-3 spades">
                <span class="rank">3</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-4 spades">
                <span class="rank">4</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-5 spades">
                <span class="rank">5</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-6 spades">
                <span class="rank">6</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-7 spades">
                <span class="rank">7</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-8 spades">
                <span class="rank">8</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-9 spades">
                <span class="rank">9</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-10 spades">
                <span class="rank">10</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-j spades">
                <span class="rank">J</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-q spades">
                <span class="rank">Q</span>
                <span class="suit">&spades;</span>
              </div>
            </li>

            <li>
              <div class="card rank-k spades">
                <span class="rank">K</span>
                <span class="suit">&spades;</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
