<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Card.Games Lobby</title>
    <!-- Normalize and css template from Skeleton css -->
    <link rel="stylesheet" href="/vendor/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/skeleton.css" type="text/css" />
    <!-- Our stylesheet populated from sass .scss file -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Imports fonts: Great Vibes, Vollkorn, Cormorant Infant -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant|Great+Vibes|Vollkorn" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Sets viewport width for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <header>
    <img class="logo" src="https://openclipart.org/download/170641/1339604228.svg" />
    <h1 class="main-title">Card.Games</h1>
  </header>
  <body class="lobby">
    <div class="container">
      <div class="row">

      <div class="one-half column games">
        <h2>Games</h2>

            <p>Goofspiel</p>
              <form action="/join/goofspiel" method="GET" class="playmebutton" >
                <button class="button-primary" >Play Me</button>
              </form>
      </div>

      <div class="one-half column leader-board">
        <h2>Leader Board</h2>
\
      </div>

<!--       <div>
        <h2>User Information</h2>
      </div> -->

      </div>
    </div>

  </body>
  <footer>
    <p>Copyright info coming soon</p>
  </footer>
</html>

