$black-cards-color: #000000;
$red-cards-color: #FF1600;
$card-table-green: #076324;
$dark-accent-color: #C5C6A2;
$light-accent-color: #EDEEE0;


// * { outline: 1px dashed red; }

header {
  position: fixed;
  background-color: $dark-accent-color;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  width: 100%;
}

footer {
  position:fixed;
  background-color: $dark-accent-color;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

body {
  background-color: $light-accent-color;
  font-family: 'Vollkorn', serif;

  h1 {
    color: $black-cards-color;
    font-family: 'Great Vibes', cursive;
    text-align: center;

  }

  h2 {
    color: $black-cards-color;
    font-family: 'Great Vibes', cursive;
    text-align: center;
  }
}

body.lobby {
  padding-top: 100px;
}

body.game-board {
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 100vh;
  background-color: $card-table-green;
}

.handbar {
  height: 18vh;
}

.play-area {
  height: 60vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.centerHand {
  margin-left: 40%;
}
.stock {
  grid-row: 2;
  grid-column: 5;
}

.upcard {
  grid-row: 2;
  grid-column: 4;
}

.player-downcard {
  grid-row: 3;
  grid-column: 4;
}

.opponent-downcard {
  grid-row: 1;
  grid-column: 4;
}

.games {
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #000000;
  background-color: $card-table-green;
}

.leader-board {
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #000000;
  background-color: $card-table-green;
}
